.card_container {
    height: 100vh;
}

#card_image_container {
    height: 70vh;
}

#modal_trigger, #card_image {
    height: 100%;
}

#loading_circle {
    height: 100%;
    position: relative;
}

#loading_circle_inner {
    margin: 0;
    position: absolute;
    top: calc(50% - 32px);
    left: calc(50% - 32px);
}

label {
    display: inline-block;
}

.btn {
    width: 95%;
    height: 100%;
}

.btn_icon {
    vertical-align: middle;
}


.show-on-xl-only {
    display: none;
}

@media only screen and (min-width: 1201px) {

    .show-on-xl-only {
        display: block;
    }

    #filters_button_col {
        display: none;
    }
}

@media only screen and (max-width: 1200px) {
    #filters_button_col {
        display: block;
    }
}

::-webkit-scrollbar {
    width: 0;
}